<form [formGroup]="typeForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="name">Название</label>
                <input 
                 type="text" 
                 class="form-control" 
                 id="name" 
                 placeholder="Название" 
                 formControlName="name"
                 [ngClass]="{
                     'has-error': 
                        typeForm.get('name')?.invalid && 
                        typeForm.get('name')?.touched
                    }"
                />
                <small class="form-text text-muted">Обязательно, макс. длина 100 символов</small>
            </div>
        </div>
        <div class="col-12">
            <button 
            type="submit" 
            class="btn btn-info" 
            [disabled]="typeForm.invalid"
            >Сохранить</button>
        </div>
    </div>
</form>