<form [formGroup]="cardForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="name">Название</label>
                <input 
                 type="text" 
                 class="form-control" 
                 id="name" 
                 placeholder="Название" 
                 formControlName="name"
                 [ngClass]="{
                     'has-error': 
                        cardForm.get('name')?.invalid && 
                        cardForm.get('name')?.touched
                    }"
                />
                <small class="form-text text-muted">Обязательно, макс. длина 100 символов</small>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="content">Содержимое</label>
                <textarea 
                 type="text" 
                 class="form-control" 
                 id="content" 
                 placeholder="Содержимое" 
                 formControlName="content"
                 [ngClass]="{
                     'has-error': 
                        cardForm.get('content')?.invalid && 
                        cardForm.get('content')?.touched
                    }"
                ></textarea>
                <small class="form-text text-muted">Обязательно, макс. длина 500 символов</small>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="type">Тип заметки</label>
                <select 
                    class="form-control" 
                    id="typeSelect"
                    formControlName="type"
                    required="true"
                    [ngClass]="{
                        'has-error': 
                           cardForm.get('type')?.invalid && 
                           cardForm.get('type')?.touched
                       }"
                >
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
                <small class="form-text text-muted">Обязательно</small>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <button 
            type="submit" 
            class="btn btn-primary" 
            [disabled]="cardForm.invalid"
            >Сохранить</button>
        </div>
    </div>
</form>